<body>
  <h1>Hi <%= @user.firstname %></h1>
    <p>
      You have successfully deleted your account, your email is: <%= @user.email %>.<br>
    </p>
    <p>
      Thanks for using our site and have a great day!
    </p>
 </body>